.navigation{
	a{
		font-size: 20px;
		color: black;
		text-decoration: none;
	}
	.navigation__lang{
		gap: 6px !important;
		button{
			font-size: 20px;
			border: none;
			background: none;
			color: rgb(192, 192, 192);
			cursor: pointer;
		}
		button.active{
			color: black;
			font-weight: 500;
		}

		figure{
			width: 1px;
			height: 28px;
			background: black;
		}
	}
}

@media all and (max-width: 780px) {
	.navigation{
		position: absolute;
		top: 0;
		left: -150%;
		transition: all 0.3s;
		background-color: white;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center !important;
		gap: 45px !important;
		z-index: 1;
		a{
			font-size: 24px;
		}
		.navigation__lang{
			gap: 15px !important;
			button{
				font-size: 24px;
				border: none;
				background: none;
			}
	
			figure{
				width: 1px;
				height: 28px;
				background: black;
			}
		}
	}	
	.navigation.active{
		left: 0;
	}
}