footer{
	padding: 60px 0 30px 0;
	background: url("../../../assets/img/background-3.png") center center/100% 100% no-repeat;
	a{
		color: white;
		text-decoration: none;
		font-size: 20px;
	}
	.footer__wrapper{
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 10px;
	}
	.footer__right, .footer__left{
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.footer__social{
		justify-content: space-between;
	}
}	

@media all and (max-width: 780px) {
	footer{
		background: url("../../../assets/img/backgroundMob-3.png") center center/100% 100% no-repeat;
		text-align: center;
		.footer__wrapper{
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
			gap: 15px;
		}
		.footer__right, .footer__left{
			gap: 15px;
		}
	}
}